.login{
    margin: auto;
    padding: 5px;
    display: block;
    background-color:#717171 ;
    text-align: center;
}
.login button{
    text-align: center;
    margin:5px;
    width: 220px;
}
.login input{
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.login form{
    justify-content: center;
    align-items: center;
}

